<div class="step-container">
  <div class="step-header">
    <h3>Data Knowledge source</h3>
    <p>Upload the files that will train your chatbot. We accept .doc, .pdf, .txt, .csv, and Excel files up to 50MB.</p>
  </div>

  <div class="upload-container">
    <p-fileUpload 
      name="knowledgeFiles[]" 
      [multiple]="true" 
      accept=".doc,.docx,.pdf,.txt,.csv,.xls,.xlsx" 
      [maxFileSize]="52428800" 
      (onSelect)="onFileSelect($event)"
      (onRemove)="onFileRemove($event)"
      chooseLabel="Browser or Drop files here"
      [customUpload]="true"
      (uploadHandler)="customUpload($event)">
      <ng-template pTemplate="content">
        <ul *ngIf="uploadedFiles.length">
          <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
        </ul>
      </ng-template>
    </p-fileUpload>
  </div>
</div>
